section#sponsors
  .container
    .row
      .col-12.text-center
        h2.section-heading Our Sponsors
        h3.section-subheading Thank you to these great companies who are supporting us.

    .row.justify-content-center.mb-5
      a.sponsor.col-11.col-sm-10(
        href='https://www.namics.com/en/'
        title='Namics.'
        )
        img.img-fluid.img-centered(
          width='800',
          height='200',
          src='images/logos/namics.svg'
          alt='Namics.'
        )
    .row.justify-content-center.align-items-center.mb-3
      a.sponsor.col-12.col-sm-6(
        href='https://www.pixelart.at',
        title='Pixelart'
        )
          img.img-fluid.img-centered(
          width='400',
          height='150',
          src='images/logos/pixelart.jpg',
          srcset='images/logos/pixelart@2x.jpg 2x',
          alt='Pixelart'
          )
      a.sponsor.col-12.col-sm-6(
      href='https://www.google.de/',
      title='Google'
      )
        img.img-fluid.img-centered(
        width='300',
        src='images/logos/google.svg',
        alt='Google'
        )
    .row.justify-content-center.align-items-center.mb-5
      a.sponsor.col-6(
      href='https://fh-salzburg.ac.at/',
      title='Fachhochschule Salzburg'
      )
        img.img-fluid.img-centered(
        width='400',
        height='150',
        src='images/logos/fh.jpg',
        srcset='images/logos/fh@2x.jpg 2x',
        alt='Salzburg University of Applied Sciences'
        )
      a.sponsor.col-6(
      href='https://aws.amazon.com/',
      title='Amazon AWS'
      )
        img.img-fluid.img-centered(
        width='200',
        src='images/logos/amazon.svg',
        alt='Amazon AWS'
        )
    .row.justify-content-center.align-items-center.mb-5
      a.sponsor.col-6.col-sm-3(
      href='https://beenergised.com/',
      title='be:ENERGISED'
      )
        img.img-fluid.img-centered(
        width='400',
        height='150',
        src='images/logos/beenergised.svg',
        alt='be:ENERGISED'
        )
      a.sponsor.col-6.col-sm-3(
      href='https://www.jetbrains.com',
      title='JetBrains'
      )
        img.img-fluid.img-centered(
        width='400',
        height='150',
        src='images/logos/jetbrains.png',
        srcset='images/logos/jetbrains@2x.png 2x',
        alt='JetBrains'
        )
      a.sponsor.col-6.col-sm-3(
      href='https://www.stickeryou.com/products/custom-stickers/335',
      title='StickerYou – Custom Stickers'
      )
        img.img-fluid.img-centered(
        width='400',
        height='150',
        src='images/logos/stickeryou.png',
        srcset='images/logos/stickeryou@2x.png 2x',
        alt='StickerYou'
        )
      a.sponsor.col-6.col-sm-3(
      href='https://www.karriere.at/',
      title='karriere.at'
      )
        img.img-fluid.img-centered(
        width='400',
        height='150',
        src='images/logos/kat.svg',
        alt='karriere.at'
        )
    .row.justify-content-center.pt-5
      .col-12.text-center
        h3.section-heading Caffè Sponsor
        h4.section-subheading
          | Served by&nbsp;
          a(href="http://www.schwarzheiss.com/")
            i schwarzheiss
          | &nbsp;Caffèkultur
    .row.justify-content-center
        a.sponsor.col-5(
        href='https://www.findologic.com/en/',
        title='FINDOLOGIC'
        )
          img.img-fluid.img-centered(
          width='400',
          height='150',
          src='images/logos/findologic.png',
          srcset='images/logos/findologic@2x.png 2x',
          alt='FINDOLOGIC'
          )
section
  .container
    .row.justify-content-center
      .col-md-8
        p.text-muted.
          We want this to be an awesome and inclusive event
          and we need your help to make it happen.
        p.text-muted.
          Up to 400 web developers from all over the world will be coming to Salzburg, Austria for the .concat() conference. And you have the unique opportunity to create meaningful connections with this diverse group.

          Do you …
        ul
          li want to hire highly motivated web developers,
          li consider sending your team on a great tour,
          li aim to become known in the community or
          li want to say thank you to the Salzburg and international Web Development scene?
        p
          b.
            Then .concat() is a perfect match.
            We would love to welcome you aboard as one of our sponsors.
        p.text-center
          b.
            Please contact us:&nbsp;
          a(href="mailto:team@conc.at") team@conc.at
    .row
      .col-12.text-center
        a(href="/assets/sponsors.pdf").btn.btn-lg.btn-primary Sponsoring Opportunities
