section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors
        h3.section-subheading Thank you to these great companies who are supporting us.

    .row
      .col-sm-8.col-sm-offset-2
        a.sponsor(
          href='https://www.namics.com/en/'
          title='Namics.'
          )
          img.img-responsive.img-centered(
            src='images/logos/namics.jpg'
            srcset='images/logos/namics@2x.jpg 2x'
            alt='Namics.'
          )
    .row.text-center
      p.section-heading.text-muted Main Sponsor
    .row(style="margin-top: 1em")
      .col-sm-12
        a.sponsor.col-sm-3(
        href='https://www.pixelart.at',
        title='Pixelart'
        )
          img.img-responsive.img-centered(
          src='images/logos/pixelart.jpg',
          srcset='images/logos/pixelart@2x.jpg 2x',
          alt='Pixelart'
          )
        a.sponsor.col-sm-3(
        href='https://fh-salzburg.ac.at/',
        title='Fachhochschule Salzburg'
        )
          img.img-responsive.img-centered(
          src='images/logos/fh.jpg',
          srcset='images/logos/fh@2x.jpg 2x',
          alt='Salzburg University of Applied Sciences'
          )
        a.sponsor.col-sm-3(
        href='https://www.porscheinformatik.at/',
        title='Porsche Informatik'
        )
          img.img-responsive.img-centered(
          src='images/logos/poi.jpg',
          srcset='images/logos/poi@2x.jpg 2x',
          alt='Porsche Informatik'
          )
        a.sponsor.col-sm-3(
        href='https://www.spar-ics.com/',
        title='Spar ICS'
        )
          img.img-responsive.img-centered(
          src='images/logos/spar.jpg',
          srcset='images/logos/spar@2x.jpg 2x',
          alt='Spar ICS'
          )
    .row(style="margin-top: 1em;").text-center
      p.section-heading.text-muted Sponsor | Venue | Sponsor | Party
    .row(style="margin-top: 1em")
      .col-sm-12.col-md-10.col-md-offset-1
        a.sponsor.col-sm-3(
        href='https://www.google.de/',
        title='Google'
        )
          img.img-responsive.img-centered(
          src='images/logos/google.jpg',
          srcset='images/logos/google@2x.jpg 2x',
          alt='Google'
          )
        a.sponsor.col-sm-3(
        href='https://aws.amazon.com/',
        title='Amazon AWS'
        )
          img.img-responsive.img-centered(
          src='images/logos/aws.jpg',
          srcset='images/logos/aws@2x.jpg 2x',
          alt='Amazon AWS'
          )
        a.sponsor.col-sm-3(
        href='https://www.mozilla.org/',
        title='Mozilla'
        )
          img.img-responsive.img-centered(
          src='images/logos/mozilla.jpg',
          srcset='images/logos/mozilla@2x.jpg 2x',
          alt='Mozilla'
          )
        a.sponsor.col-sm-3(
        href='https://automattic.com/',
        title='Automattic'
        )
          img.img-responsive.img-centered(
          src='images/logos/automattic.jpg',
          srcset='images/logos/automattic@2x.jpg 2x',
          alt='Automattic'
          )
    .row(style="margin-top: 1em;").text-center
      p.section-heading.text-muted Diversity Program
    .row(style="margin-top: 2em")
      .col-sm-12
        a.sponsor.col-xs-6.col-sm-2(
        href='https://beenergised.com/',
        title='be:ENERGISED'
        )
          img.img-responsive.img-centered(
          src='images/logos/beenergised.jpg',
          srcset='images/logos/beenergised@2x.jpg'
          alt='be:ENERGISED'
          )
        a.sponsor.col-xs-6.col-sm-2(
        href='https://www.stickeryou.com/products/custom-stickers/335',
        title='StickerYou – Custom Stickers'
        )
          img.img-responsive.img-centered(
          src='images/logos/stickeryou.jpg',
          srcset='images/logos/stickeryou@2x.jpg 2x',
          alt='StickerYou'
          )
        a.sponsor.col-xs-6.col-sm-2(
        href='https://die.netzarchitekten.com',
        title='Die Netzarchitekten'
        )
          img.img-responsive.img-centered(
          src='images/logos/dna.jpg',
          srcset='images/logos/dna@2x.jpg 2x',
          alt='Die Netzarchitekten'
          )
        a.sponsor.col-xs-6.col-sm-2(
        href='https://www.jetbrains.com',
        title='JetBrains'
        )
          img.img-responsive.img-centered(
          width='400',
          height='150',
          src='images/logos/jetbrains.jpg',
          srcset='images/logos/jetbrains@2x.jpg 2x',
          alt='JetBrains'
          )
        a.sponsor.col-xs-6.col-sm-2(
        href='https://www.karriere.at/',
        title='karriere.at'
        )
          img.img-responsive.img-centered(
          width=200,
          src='images/logos/kat.jpg',
          srcset='images/logos/kat@2x.jpg 2x',
          alt='karriere.at'
          )
        a.sponsor.col-xs-6.col-sm-2(
        href='https://www.elements.at/',
        title='elements'
        )
          img.img-responsive.img-centered(
          width=200,
          src='images/logos/elements.jpg',
          srcset='images/logos/elements@2x.jpg 2x',
          alt='elements'
          )
    .row(style="margin-top: 1em;")
      .text-center
        p.section-heading.text-muted Sponsor | Sticker | Sponsor | Give aways | Breakfast | Sponsor
    .row(style="margin-top: 6em;")
      .col-sm-3.col-md-2.col-md-offset-2
        a.sponsor(
        href='https://www.findologic.com/en/',
        title='FINDOLOGIC'
        )
          img.img-responsive.img-centered(
          width='400',
          height='150',
          src='images/logos/findologic.jpg',
          srcset='images/logos/findologic@2x.jpg 2x',
          alt='FINDOLOGIC'
          )
      .col-sm-3.col-md-2
        a.sponsor(
        href='https://www.meineschnitte.at',
        title='Manner'
        )
          img.img-responsive.img-centered(
          width='400',
          height='150',
          src='images/logos/manner.jpg',
          srcset='images/logos/manner@2x.jpg 2x',
          alt='Manner'
          )
      .col-sm-3.col-md-2
        a.sponsor(
        href='https://www.makava.at/',
        title='Makava'
        )
          img.img-responsive.img-centered(
          width='400',
          height='150',
          src='images/logos/makava.jpg',
          srcset='images/logos/makava@2x.jpg 2x',
          alt='Makava'
          )
      .col-sm-3.col-md-2
        a.sponsor(
        href='https://www.gesagt-getan.at/en/',
        title='gesagt.getan'
        )
          img.img-responsive.img-centered(
          width='400',
          height='150',
          src='images/logos/gesagt.getan.jpg',
          srcset='images/logos/gesagt.getan@2x.jpg 2x',
          alt='gesagt.getan'
          )
    .row.text-center
      .col-sm-3.col-md-2.col-md-offset-2
        h4.section-heading Caffè Sponsor
        h6
          | Served by&nbsp;
          a(href="http://www.schwarzheiss.com/")
            i schwarzheiss
          | &nbsp;Caffèkultur
      .col-sm-3.col-md-2
        h4.section-heading Sweets Sponsor
        h6
          | Manner Schnitten
      .col-sm-3.col-md-2
        h4.section-heading Drinks Sponsor
        h6
          | Makava
      .col-sm-3.col-md-2
        h4.section-heading Food Truck Sponsor
        h6
          | Snacks &amp; Drinks
section
  .container
    .row
      .col-md-offset-2.col-md-8
        p.text-muted.
          We want this to be an awesome and inclusive event
          and we need your help to make it happen.
        p.text-muted.
          Up to 400 web developers from all over the world will be coming to Salzburg, Austria for the .concat() conference. And you have the unique opportunity to create meaningful connections with this diverse group.

          Do you …
        ul
          li want to hire highly motivated web developers,
          li consider sending your team on a great tour,
          li aim to become known in the community or
          li want to say thank you to the Salzburg and international Web Development scene?
        p
          b.
            Then .concat() is a perfect match.
            We would love to welcome you aboard as one of our sponsors.
        p.text-center
          b.
            Please contact us:&nbsp;
          a(href="mailto:team@conc.at") team@conc.at
      .row
        .col-sm-12.text-center
          a(href="/assets/sponsors.pdf").btn.btn-lg.btn-primary Sponsoring Opportunities
