section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors

    .row
      .col-md-offset-1.col-md-10
        a.sponsor.col-sm-6(
            href='http://fh-salzburg.ac.at/',
            title='Fachhochschule Salzburg'
          )
          img.img-responsive.img-centered(
            width='400',
            height='150',
            src='images/logos/fh.jpg',
            srcset='images/logos/fh@2x.jpg 2x',
            alt='Salzburg University of Applied Sciences'
          )
