ul.list-group.col-md-4
  h2.text-center Travel
  .panel.panel-default
    li.list-group-item
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.salzburg-airport.com/en/') Salzburg Airport W. A. Mozart
    li.list-group-item
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.munich-airport.de/en/') Munich International Airport
      small #{' '} + 2h Train
    li.list-group-item
      i.fa.fa-train.fa-fw
      | #{' '}
      a(href='https://www.google.at/maps/place/Salzburg/@47.8130523,13.0428819,17z/data=!3m1!4b1!4m5!3m4!1s0x47769078f3c7634f:0xfb02fe56aad5409c!8m2!3d47.8130523!4d13.0450706') Salzburg Main Station
    li.list-group-item
      i.fa.fa-train.fa-fw
      | #{' '}
      a(href='https://www.google.at/maps/place/Puch+Urstein/@47.7241338,13.0850573,18z/data=!4m8!1m2!2m1!1sS3+Puch+Urstein!3m4!1s0x4776941952a1f02d:0xd907bf0691b5a932!8m2!3d47.7240488!4d13.0881963') S3 Puch Urstein
      | #{' '}
      small Venue
    li.list-group-item
      i.fa.fa-bus.fa-fw
      | #{' '} 160 Puch Urstein #{' '}
      small Venue
